  <PropertyGroup>
    <RepositoryUrl>https://github.com/mailchannels/mailchannels-email-api-sdk-dotnet</RepositoryUrl>
    <PackageProjectUrl>https://docs.mailchannels.com/email-api/</PackageProjectUrl>
    <PackageReadmeFile>PACKAGE_README.md</PackageReadmeFile>
    <GeneratePackageOnBuild>false</GeneratePackageOnBuild>
    <IncludeSourceRevisionInInformationalVersion>false</IncludeSourceRevisionInInformationalVersion>
  </PropertyGroup>
  <ItemGroup>
    <None Include="../../PACKAGE_README.md" Pack="true" PackagePath="/" />
    <None Include="../../LICENSE" Pack="true" PackagePath="/" />
  </ItemGroup>
